*{
padding: 0;
margin: 0;
}
/* declaring veriables of offcanvas width and height */
:root{
    --offcanvas-width: 270px;
    --topNavbarHeight: 70px;
}
.sidebar-nav{
    width: var(--offcanvas-width);
}
/* media query */
@media (min-width:992px) {
   body{
       overflow: auto !important;
   }
    .offcanvas-backdrop::before{
        display: none;
    }
    main{
        margin-left: var(--offcanvas-width);
    }
.sidebar-nav{
    transform: none;
    visibility: visible !important;
    top: var(--topNavbarHeight);
    height: calc(100% - var(--topNavbarHeight) );
}    
}

